@section scripts{
    <script src="~/js/Exemplo01.js"></script>
}

<div class="text-center">
    <h1 class="display-4">Utilizando Gráficos</h1>
    Saiba mais sobre o <a href="https://www.chartjs.org/">Chart.js</a>
</div>
<div class="text-center">
    <canvas id="grafico" class="border border-4 border-black" width="800" height="600"></canvas>
</div>